<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="InputFilePath" value ="C:\Users\rohit\source\GenerateBradyReport\GenerateBradyReport\GenerateBradyReport\GenerationReport.xml"/>
    <add key="OutputFilePath" value ="C:\Users\rohit\source\GenerateBradyReport\GenerateBradyReport\GenerateBradyReport\GenerationOutput.xml"/>
    <add key="ReferenceFilePath" value ="C:\Users\rohit\source\GenerateBradyReport\GenerateBradyReport\GenerateBradyReport\ReferenceData.xml"/>
  </appSettings>
</configuration>